body,div,p,ul,ol,dl,li,dt,dd,input,h1{
	margin:0;
	padding:0;
	list-style:none;
}
img{
	border:0;	
}
a{
	text-decoration: none;
}
body{
	font-family: 'Microsoft YaHei', Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
}
.clear:before,.clear:after{
	content:"";
	display: block;
	clear: both;
}
.main{
	width:1200px;
	margin:0 auto;
}
/*header*/
header{
	padding:60px 0 26px 0;
}
header .head_logo{
	float:left;
	margin-left:15px;
}
header .head_nav{
	float:left;
	font-size: 18px;
}
header .head_nav li{
	float:left;
	width:72px;
	height:40px;
	line-height:40px;
	margin-left:72px;
}
header .head_nav li a{
	color:#333;
}
header .head_nav li a:hover{
	color:#1973F0;
}
header .head_tel{
	float:left;
	margin:5px 0 0 80px;
}
/*banner*/
.banner{
	min-width:1200px;
	margin:0 auto;
	font-size: 0;
}
.banner img{
	width:100%;
}
/*footer*/
footer{
	min-width:1160px;
	background:#444;
	padding:50px 0 10px 40px;
}
footer .foot_bottom{
	margin-top: 50px;
	font-size: 20px;
	color: #fff;
	font-family: "宋体";
	line-height: 50px;
}
footer .foot_bottom ul{
	width:100%;
	padding-left:20px;
	box-sizing:border-box;
	color:#fff;
}
footer .foot_bottom ul li{
	float:left;
	margin-right:120px;
}
footer .foot_bottom ul.footer_base li{
	margin-right:60px;
}
footer .foot_bottom ul li a{
	color:#fff;
}
footer .foot_bottom ul li a:hover{
	color:#BAAE91;
}